body {
  display: -webkit-box;
 display: -moz-box;
 display: -ms-flexbox;
 display: -webkit-flex;
 display: flex;
 justify-content: center;

  background-color: #34495e;
  color: #ffffff;
  margin:0;
}

#app {
  width: 70%;
  margin: 15px;
}
